* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}

#content {
    margin: auto;
    border: 1px black solid;
    border-radius: 20px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 700px;
    align-items: center;
}
.tittle {
    margin-top: 25px;
    background-color: rgba(165, 86, 11, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 40px;
}
h4 {
    margin-top: 25px;
    font-size: 35px;
}
#word-english {
    margin-top: 20px;
    width: 70%;
    background-color: white;
    border: 1px black solid;
    border-radius: 4px;
    height: 10%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#input-word {
    font-size: 35px;
    margin-top: 20px;
    width: 70%;
    height: 10%;
    border: 1px black solid;
    border-radius: 4px;
}

#container-msj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    height: 70px;
    width: 50%;
    position: relative;
}

#good-luck,
#correct,
#incorrect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    gap: 20px;
}

i {
    font-size: 50px;
}
#good-luck {
    flex-direction: column;
    display: flex;
    gap: 4px;
}

#correct {
    display: none;
}

#incorrect {
    display: none;
}

#start {
    width: 90%;
    margin: 0% 10% 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.buttons {
    width: 100%;
    margin: 4% 0;
    display: none;
    flex-direction: row;
    gap: 10%;
}

button {
    margin: 0 5%;
    height: 70px;
    border: 1px black solid;
    border-radius: 20px;
    width: 100%;
    font-size: 35px;
}

#number-solutions {
    padding: 15px 0;
    word-break: normal;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-size: 35px;
}
@media (max-width: 636px) {
    .tittle {
        font-size: 18px;
    }
    h4 {
        font-size: 17px;
    }

    #word-english {
        font-size: 17px;
    }
    #input-word {
        font-size: 17px;
    }
    button {
        font-size: 17px;
    }
    #good-luck,
    #correct,
    #incorrect {
        font-size: 17px;
    }
    #number-solutions {
        font-size: 17px;
    }
}
